@{
    ViewData["Title"] = "Dergiler";
}

@model List<Dergi>

<div class="text-center">
    <h1 class="display-4">Dergiler</h1>
</div>

<div class="row mt-3 bg-light">
    @foreach (var dergi in Model)
    {
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@dergi.Name</h5>
                    <p class="card-text">@dergi.Description</p>
                    <a href="/Home/Sayilar/@dergi.Id" class="btn btn-primary">Sayılar</a>
                </div>
            </div>
        </div>
    }
</div>