@{
}

@model Dergi

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dergi Ekle/Düzenle</h1>
</div>

<form class="mt-3" asp-action="Add">
  <input type="hidden" class="form-control" asp-for="Id">
  <input type="hidden" class="form-control" asp-for="CreatedDate">
  <div class="mb-3">
    <label class="form-label">Adı</label>
    <input type="text" class="form-control" asp-for="Name">
  </div>
  <button type="submit" class="btn btn-primary">Kaydet</button>
</form>